@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,900");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  min-height: calc(100vh - 3.5rem - 8rem);
  margin-top: 3.5rem;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #66615b;
  padding: 1rem;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: #a7a5a2 0px 6px 18px;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  display: none;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: #fff;
  display: block;
  margin: 0.4rem 0;
}

.main-header__brand {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  /* width: 20px; */
}




.main-nav {
    display: flex;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.mobile-nav__item a:hover,
.mobile-nav__item a:active {  
  border-bottom: 5px solid#66615b;
}


.main-footer {
  background: black;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  margin: 0.5rem 0;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}



.open {
  display: block !important;
}



.mainContainer{
    min-height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.mainImgBox{
   min-width: 75vw;
   position: relative;
   background-image: url('https://quiz.examineer.org/assets/img/student.png');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: left top;
}

.mainLoginFrm{
    min-width: 25vw;    
    margin: 55px auto 0px auto;
    background: #fff;
    box-shadow: #a7a5a2 0px 0px 14px 3px;
    position: relative;
    box-sizing: border-box;
}

.mainLoginFrm img{
    margin-top:10px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;    
}

.lgFrm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

 
.lgFrm .group {
    position: relative;
    margin-bottom: 22px;
}
  
.lgFrm .group:nth-of-type(1) {
  margin-top: 10px 0;
}
  
.lgFrm input{
    background: none;
    color: #3b3b44;
    font-size: 16px;
    padding: 10px 10px 10px 0px;
    display: block;
    width: 270px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}


 .lgFrm  input:focus{
    outline: none;
}
  
 .lgFrm input:focus ~ label,.lgFrm input:valid ~ label{
    top: -14px;
    font-size: 12px;
    color: #868686;
}
 .lgFrm  input:focus ~ .bar:before{
    width: 270px;
}
  

  
 .lgFrm label {
    color: #c6c6c6;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
}
  
 .lgFrm .bar {
    position: relative;
    display: block;
    width: 270px;
}

 .lgFrm .bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #bababb;
    transition: 300ms ease all;
    left: 0%;
}



@media (max-width:1200px){
  .mainImgBox{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    background-position: center;
    background-size: 100%;
    top:5%;
    width: 100%;
    height: 100%;
  }
  
  .mainLoginFrm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    max-width: 370px;
  }
}

@media (max-width: 992px) {
  .mobResBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .toggle-button {
    order: 1;
    align-self: flex-end;    
    display: block;
  }
  .main-nav {
    display: none;
  }

.mobile-nav__item a {
  color: #66615b;
}
 
}
