* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 100px;
  align-items: center;
  background: #e7e7e7;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  color: #525252;
}

.menu li a.active,
.menu li a:hover {
  color: #00bcd4f2;
}

.menu-mobile-icon {
  width: 30px;
  height: 24px;
  display: none;
}
.menu-mobile-icon img {
  width: 100%;
  height: 100%;
}

.slider {
  background-image: url("images/banner.jpg");
  height: 500px;
  width: 100%;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-heading {
  color: #fff;
}

.slider-message {
  color: #a9a7a7db;
  margin-top: 30px;
  font-size: 1.5em;
}

.wrapper {
  padding: 50px 100px;
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.serviceBox {
  display: flex;
  flex: 1;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px #ccc;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.serviceBox h3 {
  margin: 20px auto;
}

.services::after {
  content: "";
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  border: solid 1px #ccc;
}

.seprator {
  border: solid 1px #ccc;
  margin: 30px 0px;
}

.FetureBox h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.featureServices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.featureService img {
  max-width: 100%;
}

@media screen and (min-width: 1200px) {
  .serviceBox:first-child {
    margin-left: 0px;
  }
  .serviceBox:last-child {
    margin-right: 0px;
  }
}
