@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-image: url('images/banner.jpg');
  background-size: cover;
  background-position: right;
  padding: 100px;
}

.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}

.textBx a {
  text-decoration: none;
  color: #fff;
  background-color: #2196f3;
  padding: 10px 15px;
  display: inline-block;
  margin-top: 20px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 30px 100px;
}

header .logo {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  list-style: none;
  position: relative;
}

header ul li a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  margin: 0px 15px;
}
