@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.banner {
  position: relative;
  background: #111;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 100px;
  transition: 1s;
}

.banner.active {
  transform: translateX(-300px);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 2;
}

header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(images/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url(images/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

section video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to left, #00f, #f00);
  mix-blend-mode: overlay;
}

.text {
  z-index: 2;
  position: relative;
  width: 700px;
}

.text h2 {
  font-weight: 800;
  font-size: 6em;
  line-height: 1em;
  color: #fff;
  text-transform: uppercase;
}

.text h3 {
  font-weight: 600;
  font-size: 4em;
  line-height: 1em;
  color: #fff;
  text-transform: uppercase;
}

.text p {
  position: relative;
  font-size: 1.1em;
  margin: 20px 0;

  color: #fff;
  font-weight: 400;
}

.text a {
  padding: 10px 30px;
  margin-top: 10px;
  background: #fff;
  text-decoration: none;
  color: #111;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 2px;
  display: inline-block;
}

.sci {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  z-index: 2;
}

.sci li a {
  text-decoration: none;
  display: inline-block;
  filter: invert(1);
  transform: scale(0.5);
  margin-right: 20px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.menu ul {
  list-style: none;
  position: relative;
  text-align: center;
}

.menu ul li {
  position: relative;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

@media (max-width: 991px) {
  section,
  section header {
    padding: 40px;
  }

  .text h2 {
    font-size: 2em;
  }

  .text h3 {
    font-size: 2em;
  }
}
